.alert-message,
#alert-msg-0,
#alert-msg-1 {
    overflow-y: auto;
}

.alert-ios .alert-wrapper {
    top: 50%;
    position: absolute;
    transform: translateY(-50%) !important;
}

page-fasta {
    .scroll-content {
        overflow: hidden;
    }

    .scroll {
        height: 100%
    }

    ion-title.title {
        padding: 0 0 0 50px;
    }

    #map {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 5;
    }

    .location {
        z-index: 10;
        position: absolute;
        background: white;
        bottom: 10px;
        left: 10px;
        padding: 5px 8px;
        border: 1px solid #eeeeee;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
        border-radius: 2px;
        cursor: pointer;

        ion-icon {
            font-size: 2.4rem;
        }
    }

    #fastaDetails {
        z-index: 15;
        position: absolute;
        bottom: 0;
        background: white;
        width: 100%;
        transition: max-height 0.25s ease-in;

        .detailSlider {
            text-align: center;
            font-size: 2rem;
            cursor: pointer;
            background-color: #fafafa;
            border-bottom: 1px solid #efefef;
        }

        .detailBox {
            margin: 10px;
            max-height: 500px;
            transition: max-height 0.25s ease-in;

            .closeDetails {
                float: right;
                font-size: 1.8rem;
                cursor: pointer;
            }

            h6 {
                margin-top: 10px;
            }

            p.notWorking {
                font-style: italic;

                ion-icon {
                    padding-right: 5px;
                }
            }

            button {
                ion-icon {
                    padding-right: 10px;
                }
            }

            button.details {
                float: right;
            }

        }
    }
}
