page-about {

    ion-title.title {
        padding: 0 10px;

    }

    div.noStationSelected {
        padding: 50px 20px;
        text-align: center;

        button {
            margin: auto;

            ion-icon {
                padding-right: 10px;
            }
        }
    }

    div.bfoto {
        position: relative;
        margin-bottom: 10px;
        min-height: 6rem;

        img {
            display: block;
        }

        div.address {
            position: absolute;
            top: 0;
            background: rgba(0, 50, 50, 0.8);
            width: 100%;
            height: 100%;
            color: wheat;
            padding: 20px;
            text-align: center;

            div.addressInner {
                width: calc(100% - 40px);
                text-align: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                div {
                    margin: 5px;
                }
            }
        }
    }

    div.services {

        ion-list {
            margin: 10px;

            ion-item.service {
                padding: 0;
                font-size: 1.3rem;
                line-height: 2rem; // für das alignment mit den Icons

                ion-label {
                    #travelCenterDropdown,
                    #availabilityDropdown {
                        margin: 5px 30px 5px 15px;
                        max-height: 0;
                        display: none;
                        transition: max-height 0.25s ease-in;

                        h5 {
                            font-style: italic;
                        }

                        div.weekday {
                            width: 40%;
                            float: left;
                        }

                        div.times {
                            width: 60%;
                            float: right;
                            text-align: right;
                        }
                    }
                }

                .comment {
                    font-size: 1rem;
                    display: block;
                    float: left;
                }
                ion-icon[name="arrow-down"],
                ion-icon[name="arrow-up"] {
                    font-size: 1.2rem;
                    line-height: 2rem;
                    padding-right: 2px;
                    cursor: pointer;
                }

                ion-icon[name="close-circle"],
                ion-icon[name="checkmark-circle-outline"] {
                    position: absolute;
                    right: 15px;
                    font-size: 2rem;
                }

            }
        }
    }
}
