<ion-header>
    <ion-navbar>
        <ion-title>
            <div *ngIf="station; else noStation">
                {{station.name}}
            </div>
            <ng-template #noStation>Detailansicht</ng-template>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="(!station || station.isContact); else stationSelected" class="noStationSelected">
        <p>Bitte wählen Sie auf der Karte eine Station, deren Informationen Sie anzeigen lassen möchten.</p>
        <button ion-button (click)="openKarte()">
            <ion-icon name="map"></ion-icon>
            Karte
        </button>
    </div>

    <ng-template #stationSelected>
        <div class="bfoto">
            <img *ngIf="station.fotoURL" src="{{station.fotoURL}}"/>
            <div class="address">
                <div class="addressInner">
                    <div class="street">{{station.mailingAddress.street}}</div>
                    <div class="city">{{station.mailingAddress.zipcode}}&nbsp;{{station.mailingAddress.city}}</div>
                </div>
                <div class="pictureButtons">
                    <button ion-button outline *ngIf="stationParking && station.fasta" class="fastaButton" (click)="openFasta()">
                        Aufzüge & Rolltreppen
                    </button>
                    <button ion-button outline *ngIf="station.fasta && !stationParking" class="singleButton" (click)="openFasta()">
                        Aufzüge & Rolltreppen
                    </button>
                    <button ion-button outline *ngIf="stationParking && station.fasta" class="parkingButton" (click)="openParking()">
                        <ion-icon name="car"></ion-icon>
                        Parkplätze
                    </button>
                    <button ion-button outline *ngIf="!station.fasta && stationParking" class="singleButton" (click)="openParking()">
                        <ion-icon name="car"></ion-icon>
                        Parkplätze
                    </button>
                </div>
            </div>
        </div>
        <div class="services">
            <ion-list>
                <ion-item *ngFor="let setting of settings" class="noShow noMargin">
                <ion-item *ngIf="setting.show" class="noMargin">
                    <ion-item class="service dropdownPadding" *ngIf="setting.key == 'DBinformation' && station.DBinformation && station.DBinformation.availability">
                        <ion-icon *ngIf="!dropdowns[0]" (click)="toggleDropdown('availability')"
                                  name="arrow-down"></ion-icon>
                        <ion-icon *ngIf="dropdowns[0]" (click)="toggleDropdown('availability')" name="arrow-up"></ion-icon>
                        <span (click)="toggleDropdown('availability')">Öffnungszeiten</span>
                        <div id="availabilityDropdown">
                            <div class="openingTimes">
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.monday">Montag</div>
                                    <div class="times">
                                        {{station.DBinformation.availability.monday.fromTime}} -
                                        {{station.DBinformation.availability.monday.toTime}}
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.tuesday">Dienstag</div>
                                    <div class="times">
                                        {{station.DBinformation.availability.tuesday.fromTime}} -
                                        {{station.DBinformation.availability.tuesday.toTime}}
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.wednesday">Mittwoch</div>
                                    <div class="times">
                                        {{station.DBinformation.availability.wednesday.fromTime}} -
                                        {{station.DBinformation.availability.wednesday.toTime}}
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.thursday">Donnerstag</div>
                                    <div class="times">
                                        {{station.DBinformation.availability.thursday.fromTime}} -
                                        {{station.DBinformation.availability.thursday.toTime}}
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.friday">Freitag</div>
                                    <div class="times">
                                        {{station.DBinformation.availability.friday.fromTime}} -
                                        {{station.DBinformation.availability.friday.toTime}}
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.saturday">Samstag</div>
                                    <div class="times">
                                        {{station.DBinformation.availability.saturday.fromTime}} -
                                        {{station.DBinformation.availability.saturday.toTime}}
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.sunday">Sonntag</div>
                                    <div class="times">
                                        {{station.DBinformation.availability.sunday.fromTime}} -
                                        {{station.DBinformation.availability.sunday.toTime}}
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday" *ngIf="station.DBinformation.availability.holiday">Feiertage</div>
                                    <div class="times" *ngIf="station.DBinformation.availability.holiday">
                                        {{station.DBinformation.availability.holiday.fromTime}} -
                                        {{station.DBinformation.availability.holiday.toTime}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="service travelCenter dropdownPadding" *ngIf="setting.key == 'hasTravelCenter'">
                        <ion-icon *ngIf="tc && station.hasTravelCenter && !dropdowns[1]"
                                  (click)="toggleDropdown('travelCenter')" name="arrow-down"></ion-icon>
                        <ion-icon *ngIf="tc && station.hasTravelCenter && dropdowns[1]"
                                  (click)="toggleDropdown('travelCenter')" name="arrow-up"></ion-icon>
                        <span *ngIf="tc && station.hasTravelCenter" (click)="toggleDropdown('travelCenter')">Reisezentrum</span>
                        <span *ngIf="!(tc && station.hasTravelCenter)">Reisezentrum</span>
                        <ion-icon *ngIf="station.hasTravelCenter" name="checkmark-circle-outline"></ion-icon>
                        <ion-icon *ngIf="!station.hasTravelCenter" name="close-circle"></ion-icon>
                        <div id="travelCenterDropdown" *ngIf="tc && station.hasTravelCenter">
                            <div class="tcOpeningTimes">
                                <h5>Öffnungszeiten</h5>
                                <div class="weekdayCombo">
                                    <div class="weekday">Montag</div>
                                    <div class="times">
                                        <div *ngFor="let time of tc.openingTimes['mon']">{{time}}</div>
                                        <div *ngIf="!tc.openingTimes['mon'] || tc.openingTimes['mon'].length == 0">geschlossen</div>
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday">Dienstag</div>
                                    <div class="times">
                                        <div *ngFor="let time of tc.openingTimes['tue']">{{time}}</div>
                                        <div *ngIf="!tc.openingTimes['tue'] || tc.openingTimes['tue'].length == 0">geschlossen</div>
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday">Mittwoch</div>
                                    <div class="times">
                                        <div *ngFor="let time of tc.openingTimes['wed']">{{time}}</div>
                                        <div *ngIf="!tc.openingTimes['wed'] || tc.openingTimes['wed'].length == 0">geschlossen</div>
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday">Donnerstag</div>
                                    <div class="times">
                                        <div *ngFor="let time of tc.openingTimes['thu']">{{time}}</div>
                                        <div *ngIf="!tc.openingTimes['thu'] || tc.openingTimes['thu'].length == 0">geschlossen</div>
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday">Freitag</div>
                                    <div class="times">
                                        <div *ngFor="let time of tc.openingTimes['fri']">{{time}}</div>
                                        <div *ngIf="!tc.openingTimes['fri'] || tc.openingTimes['fri'].length == 0">geschlossen</div>
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday">Samstag</div>
                                    <div class="times">
                                        <div *ngFor="let time of tc.openingTimes['sat']">{{time}}</div>
                                        <div *ngIf="!tc.openingTimes['sat'] || tc.openingTimes['sat'].length == 0">geschlossen</div>
                                    </div>
                                </div>
                                <div class="weekdayCombo">
                                    <div class="weekday">Sonntag</div>
                                    <div class="times">
                                        <div *ngFor="let time of tc.openingTimes['sun']">{{time}}</div>
                                        <div *ngIf="!tc.openingTimes['sun'] || tc.openingTimes['sun'].length == 0">geschlossen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-item>

                    <ion-item class="service" *ngIf="setting.key != 'hasTravelCenter' && setting.key != 'DBinformation' || (setting.key == 'hasParking' && !stationParking)">

                        <span>{{setting.name}}</span>
                        <ion-icon *ngIf="station[setting.key] || station[setting.key] != 'no'" name="checkmark-circle-outline"></ion-icon>
                        <ion-icon *ngIf="!station[setting.key] || station[setting.key] == 'no'" name="close-circle"></ion-icon>

                        <div class="comment" *ngIf="setting.key == 'hasMobilityService' && station.hasMobilityService != 'no' && station.hasMobilityService != 'yes'">{{station.hasMobilityService}}</div>
                    </ion-item>

                </ion-item>
                </ion-item>
            </ion-list>
            <!--<ion-list>
                <ion-item class="service">
                    <span>ÖPNV</span>
                    <ion-icon *ngIf="station['hasLocalPublicTransport']" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station['hasLocalPublicTransport']" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Taxistand</span>
                    <ion-icon *ngIf="station.hasTaxiRank" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasTaxiRank" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Autoverleih</span>
                    <ion-icon *ngIf="station.hasCarRental" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasCarRental" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item *ngIf="!stationParking" class="service parkingService">
                    <span>Parkplätze</span>
                    <ion-icon *ngIf="station.hasParking" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasParking" name="close-circle"></ion-icon>
                </ion-item>

                <ion-item class="service">
                    <span>Toiletten</span>
                    <ion-icon *ngIf="station.hasPublicFacilities" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasPublicFacilities" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Schließfächer</span>
                    <ion-icon *ngIf="station.hasLockerSystem" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasLockerSystem" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Barrierefreiheit</span>
                    <ion-icon *ngIf="station.hasSteplessAccess == 'yes'" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="station.hasSteplessAccess != 'yes'" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Mobilitätsservice</span>
                    <ion-icon *ngIf="station.hasMobilityService != 'no'" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="station.hasMobilityService == 'no'" name="close-circle"></ion-icon>
                    <div class="comment" *ngIf="station.hasMobilityService != 'no' && station.hasMobilityService != 'yes'">{{station.hasMobilityService}}</div>
                </ion-item>
                <ion-item class="service">
                    <span>Fundbüro</span>
                    <ion-icon *ngIf="station.hasLostAndFound" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasLostAndFound" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>DB Lounge</span>
                    <ion-icon *ngIf="station.hasDBLounge" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasDBLounge" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>WLAN</span>
                    <ion-icon *ngIf="station.hasWifi" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasWifi" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Bahnhofsmission</span>
                    <ion-icon *ngIf="station.hasRailwayMission" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!station.hasRailwayMission" name="close-circle"></ion-icon>
                </ion-item>
            </ion-list>-->

        </div>

    </ng-template>

    <div class="legalDisclaimer">
        <p (click)="openLegalPopup()">Rechtliche Hinweise</p>
    </div>

</ion-content>
