<ion-header>

    <ion-navbar>
        <ion-title>Tarife und Preisinfos</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list *ngFor="let parkingspace of parkingspaces">
        <ion-title>{{parkingspace.name}}</ion-title>
        <ion-item class="service">
            <span>Vergünstigungen mit einer BahnCard</span>
            <ion-icon *ngIf="parkingspace.tariffInfo.isDiscountDbBahnCard" name="close-circle"></ion-icon>
            <ion-icon *ngIf="!parkingspace.tariffInfo.isDiscountDbBahnCard" name="checkmark-circle-outline"></ion-icon>
        </ion-item>
        <ion-item class="service">
            <span>Vergünstigungen für ParkandRail</span>
            <ion-icon *ngIf="parkingspace.tariffInfo.isDiscountDbParkAndRail" name="checkmark-circle-outline"></ion-icon>
            <ion-icon *ngIf="!parkingspace.tariffInfo.isDiscountDbParkAndRail" name="close-circle"></ion-icon>
        </ion-item>
        <ion-item class="service">
            <span>Freie Parkzeit</span>
            <div class="nummer">
                {{parkingspace.tariffInfo.tariffFreeParkingTime}}
            </div>
        </ion-item>
        <ion-item class="service">
            <span>Bezahlmöglichkeiten</span>
            <br>
            <div class="kkinfos">
                {{parkingspace.tariffInfo.tariffPaymentOptions}}
            </div>
        </ion-item>
    </ion-list>
</ion-content>
