<ion-header>
    <ion-navbar>
        <ion-title>
            <div *ngIf="station; else noStation">
                {{station.name}}
            </div>
            <ng-template #noStation>Parkplätze</ng-template>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!station; else stationSelected" class="noStationSelected">
        <p>Bitte wählen Sie auf der Karte eine Station, deren Details Sie anzeigen lassen möchten.</p>
        <button ion-button (click)="openKarte()">
            <ion-icon name="map"></ion-icon>
            Karte
        </button>
    </div>


    <ng-template #stationSelected>
        <div *ngIf="spaceID==0; else spaceSelected" class ="keineDaten">
            Für den ausgewählten Bahnhof stehen keine Daten zur Verfügung!
        </div>
        <ng-template #spaceSelected>
            <div *ngFor="let parkingspace of parkingspaces">
            <ion-title class="mtitle">
                {{parkingspace.name}}
            </ion-title>
            <ion-list >
                <ion-item class="service">
                    <span>Ist in Betrieb</span>
                    <ion-icon *ngIf="!parkingspace.isOutOfService" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="parkingspace.isOutOfService" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Anzahl Behindertenparkplätze</span>
                    <div class="nummer">
                    {{parkingspace.numberHandicapedPlaces}}
                    </div>
                </ion-item >
                <ion-item class="service">
                    <span>Anzahl Parkplätze gesamt:</span>
                    <div class="nummer">
                    {{parkingspace.numberParkingPlaces}}
                    </div>
                </ion-item>
                <ion-item class="service">
                    <span>Wo steht das Auto?</span>
                    <div class="nummer">
                    {{parkingspace.spaceType}}
                    </div>
                </ion-item>
                <ion-item class="service">
                    <span>Typ:</span>
                    <div class="nummer">
                    {{parkingspace.spaceType}}
                    </div>
                </ion-item>
                <ion-item class="service">
                    <span>Öffnungszeiten:</span>
                    <div class="nummer">
                    {{parkingspace.openingHours}}
                    </div>
                </ion-item>
                <ion-item class="service ">
                    <span>Betreiber:</span>
                    <div class="nummer Betreiber">
                    {{parkingspace.operator}}
                    </div>
                </ion-item>
            </ion-list>
            </div>
            <button ion-button (click)="pushPage()">
                Infos rund um den Tarif
            </button>
        </ng-template>
    </ng-template>
</ion-content>