page-contact {



    div.noStationSelected {
        padding: 50px 20px;
        text-align: center;

        button {
            margin: auto;

            ion-icon {
                padding-right: 10px;
            }
        }
    }
   .mtitle{
       padding-bottom:15px;
   }
    div.nummer{
        margin-left: 164px;
        font-size: 1.5rem;
    }
    div.nummer.Betreiber{
        font-size:0.7rem;
    }
    ion-icon{
        margin-left: 165px;
    }
    span{
        font-size: 1.3rem;
    }


}





