<ion-header>
    <ion-navbar>
        <ion-title>
            <div *ngIf="station; else noStation">
                {{station.name}}
            </div>
            <ng-template #noStation>Parkplätze</ng-template>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="(!station || station.isContact); else stationSelected" class="noStationSelected">
        <p>Bitte wählen Sie auf der Karte eine Station, deren Details Sie anzeigen lassen möchten.</p>
        <button ion-button (click)="openKarte()">
            <ion-icon name="map"></ion-icon>
            Karte
        </button>
    </div>


    <ng-template #stationSelected>
        <div *ngIf="numberOfParkingSpaces==0; else spaceSelected" class="noStationSelected">
            <p>Für den ausgewählten Bahnhof stehen leider keine detaillierten Daten zur Verfügung!</p>

            <div *ngIf="station.hasParking">
                <p>Es sind jedoch Parkplätze in der Nähe des ausgewählten Bahnhofs verzeichnet.</p>
            </div>
        </div>
        <ng-template #spaceSelected>
            <ion-slides pager>
                <ion-slide *ngFor="let parkingspace of parkingspaces" class="parkingSpace">
                    <h2>
                        {{parkingspace.name}}
                    </h2>
                    <button ion-button (click)="showInMaps(parkingspace)"><ion-icon name="map"></ion-icon>Auf Karte zeigen</button>
                    <ion-list>
                        <ion-item>
                            <span class="infoType">In Betrieb</span>
                            <ion-icon *ngIf="!parkingspace.isOutOfService" name="checkmark-circle-outline"></ion-icon>
                            <ion-icon *ngIf="parkingspace.isOutOfService" name="close-circle"></ion-icon>
                        </ion-item>
                        <ion-item>
                            <span class="infoType">Anzahl Parkplätze gesamt:</span>
                            <span class="info shortInfo">{{parkingspace.numberParkingPlaces}}</span>
                        </ion-item>
                        <ion-item>
                            <span class="infoType">Anzahl Behindertenparkplätze</span>
                            <span class="info shortInfo">{{parkingspace.numberHandicapedPlaces}}</span>
                        </ion-item>
                        <ion-item *ngIf="parkingspace.capacity">
                            <span class="infoType">Freie Plätze</span>
                            <span class="info shortInfo">{{parkingspace.capacity}}</span>
                            <div class="info longerInfo" *ngIf="parkingspace.timestamp">({{parkingspace.timestamp}})</div>
                        </ion-item>
                        <ion-item>
                            <span class="infoType">Ladestation</span>
                            <ion-icon *ngIf="!parkingspace.spaceInfo.chargingStation" name="checkmark-circle-outline"></ion-icon>
                            <ion-icon *ngIf="parkingspace.spaceInfo.chargingStation" name="close-circle"></ion-icon>
                        </ion-item>
                        <ion-item>
                            <span class="infoType">Typ:</span>
                            <span class="info shortInfo">{{parkingspace.spaceType}}</span>
                        </ion-item>
                        <ion-item>
                            <span class="infoType">Öffnungszeiten:</span>
                            <div class="info longerInfo">{{parkingspace.openingHours}}</div>
                        </ion-item>
                        <ion-item>
                            <span class="infoType">Betreiber:</span>
                            <div class="info longerInfo" *ngIf="parkingspace.operatorUrl"><a href="#" (click)="openLink(parkingspace.operatorUrl)">{{parkingspace.operator}}</a></div>
                            <div class="info longerInfo" *ngIf="!parkingspace.operatorUrl">{{parkingspace.operator}}</div>
                        </ion-item>
                    </ion-list>
                    <button ion-button class="tarif" (click)="pushPage()">
                        Infos rund um den Tarif
                    </button>
                </ion-slide>
            </ion-slides>
        </ng-template>
    </ng-template>
</ion-content>