page-contact {
    div.noStationSelected {
        padding: 50px 20px;
        text-align: center;

        button {
            margin: auto;

            ion-icon {
                padding-right: 10px;
            }
        }
    }
}
