ion-label {
    white-space: normal;
}

page-contact {
    ion-title.title {
        padding: 0 10px;
    }


    div.noStationSelected {
        padding: 50px 20px;
        text-align: center;

        button {
            margin: auto;

            ion-icon {
                padding-right: 10px;
            }
        }
    }

    .scroll-content {
        overflow-y: hidden;
    }

    .parkingSpace {
        .slide-zoom {
            width: inherit;
            height: inherit;
            overflow-y: auto;
            margin: 40px 0;
        }

        h2 {
            font-size: 1.8rem;
            text-align: center;
            margin-top: 5px !important;
        }

        ion-icon[name="map"] {
            padding-right: 10px;
        }

        .list-ios {
            margin-bottom: 10px;

            > .item-block:first-child {
                border-top: none;
                margin-top: 5px;
            }

            > .item-block:last-child {
                border-bottom: none;
            }
        }

        .ion-item,
        .item-ios {
            padding: 0;
            font-size: 1.5rem;
        }

        .shortInfo {
            position: absolute;
            right: 15px;
        }

        ion-icon[name="close-circle"],
        ion-icon[name="checkmark-circle-outline"] {
            position: absolute;
            right: 15px;
            font-size: 2rem;
        }

        .tarif {
            margin-bottom: 40px;
        }
    }
}
