<ion-header>
    <ion-navbar>
        <ion-title>
            <div *ngIf="station; else noStation">
                {{station.name}}
            </div>
            <ng-template #noStation>Parkplätze</ng-template>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!station; else stationSelected" class="noStationSelected">
        <p>Bitte wählen Sie auf der Karte eine Station, deren Details Sie anzeigen lassen möchten.</p>
        <button ion-button (click)="openKarte()">
            <ion-icon name="map"></ion-icon>
            Karte
        </button>
    </div>


    <ng-template #stationSelected>
        <div *ngIf="parkplatz==undefined; else spaceSelected" class ="keineDaten">
            Für den ausgewählten Bahnhof stehen leider keine detaillierten Daten zur Verfügung!
        </div>
        <ng-template #spaceSelected>
            <ion-title class="mtitle">
                {{parkplatz.name}}
            </ion-title>
            <ion-list>
                <ion-item class="service">
                    <span>Ist in Betrieb</span>
                    <ion-icon *ngIf="!parkplatz.isOutOfService" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="parkplatz.isOutOfService" name="close-circle"></ion-icon>
                </ion-item>
                <ion-item class="service">
                    <span>Anzahl Behindertenparkplätze</span>
                    <div class="nummer">
                    {{parkplatz.numberHandicapedPlaces}}
                    </div>
                </ion-item >
                <ion-item class="service">
                    <span>Anzahl Parkplätze gesamt:</span>
                    <div class="nummer">
                    {{parkplatz.numberParkingPlaces}}
                    </div>
                </ion-item>
                <ion-item class="service">
                    <span>Wo steht das Auto?</span>
                    <div class="nummer">
                    {{parkplatz.spaceType}}
                    </div>
                </ion-item>
                <ion-item class="service">
                    <span>Typ:</span>
                    <div class="nummer">
                    {{parkplatz.spaceType}}
                    </div>
                </ion-item>
                <ion-item class="service">
                    <span>Öffnungszeiten:</span>
                    <div class="nummer">
                    {{parkplatz.openingHours}}
                    </div>
                </ion-item>
                <ion-item class="service ">
                    <span>Betreiber:</span>
                    <div class="nummer Betreiber">
                    {{parkplatz.operator}}
                    </div>
                </ion-item>
            </ion-list>
            <button ion-button (click)="pushPage()">
                Infos rund um den Tarif
            </button>

        </ng-template>
    </ng-template>
</ion-content>