home-page {
    .alert-ios .alert-message {
        overflow-y: auto;
    }

    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border: none;
    }

    .cancelSearch {
        float: right;
        width: 25%;
        display: none;
        padding: 12px 5px;
        color: #00aaff;
        cursor: pointer;
    }

    .overflowHidden {
        overflow: hidden;
    }

    .scroll {
        height: 100%
    }

    #map {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 5;
    }

    .location {
        z-index: 15;
        position: absolute;
        background: white;
        bottom: 10px;
        left: 10px;
        padding: 5px 8px;
        border: 1px solid #eeeeee;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
        border-radius: 2px;
        cursor: pointer;

        ion-icon {
            font-size: 2.4rem;
        }
    }

    .favoriten {
        z-index: 20;
        position: absolute;
        background: white;
        top: 10px;
        right: 10px;
        padding: 5px 8px;
        font: 400 11px Roboto, Arial, sans-serif;
        border: 1px solid #eeeeee;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
        border-radius: 2px;
        cursor: pointer;

        ion-icon {
            padding-right: 5px;
            font-size: 1.1rem;
        }
    }

    .filteredStations {
        position: relative;
        z-index: 100;

        &.list-ios {
            margin: 0;
        }

        ion-icon {
            font-size: 0.8em;
        }
    }

    .foundStation {
        cursor: pointer;
    }

    #stationDetails {
        z-index: 20;
        position: absolute;
        bottom: 0;
        background: white;
        width: 100%;
        transition: max-height 0.25s ease-in;

        .detailSlider {
            text-align: center;
            font-size: 2rem;
            cursor: pointer;
            background-color: #fafafa;
            border-bottom: 1px solid #efefef;
        }

        .detailBox {
            margin: 10px;
            max-height: 500px;
            transition: max-height 0.25s ease-in;

            .closeDetails {
                float: right;
                font-size: 1.8rem;
                cursor: pointer;
            }

            h6 {
                margin-top: 10px;
            }

            button {
                width: 48%;

                ion-icon {
                    padding-right: 10px;
                }
            }

            button.details {
                float: right;
            }

        }
    }

}
