<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Einstellungen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h6>Personalisieren Sie hier die angezeigten Informationen</h6>
    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
        <ion-item *ngFor="let setting of settings">
            <ion-icon *ngIf="setting.show" name="checkmark" (click)="switch(setting.key)"></ion-icon>
            <ion-icon *ngIf="!setting.show" name="close" (click)="switch(setting.key)"></ion-icon>
            {{ setting.name }}
        </ion-item>
    </ion-list>
</ion-content>
