page-settings {
    ion-icon[name="close-circle"],
    ion-icon[name="checkmark-circle"] {
        font-size: 2rem;
        position: relative;
        top: 0.25rem;
        padding-right: 5px;
    }

    ion-icon[name="close-circle"] {
        color: #f53d3d;
    }

    ion-icon[name="checkmark-circle"] {
        color: #32db64;
    }

    .ion-label, .label-wp, .label-md, .label-ios {
        font-size: 1.5rem;
        margin: 0;
    }

    .list-ios .item-ios.item-block {
        padding-left: 0;

        .item-inner {
            border-bottom: none;
            padding-right: 0;
        }
    }
}
